.nav a {
  color: #5C00B8;
  font-size: 8px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

.jumbotron {
  background-image:url('https://images.unsplash.com/18/pups.JPG?q=80&fm=jpg&s=67005530d25b46bd5a9002ed1c9ae19f');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron h1 {
  color: #8A5CE6;
  font-size: 48px;  
  font-family: 'Poiret One', cursive;
  font-weight: bold;
  text-align: right;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #CCE6FF;
}

h2 {
  font-family: 'Poiret One', cursive;
  color: 3366FF;
}

.learn-more h3 {
  font-family: 'Poiret One', cursive;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
}

.learn-more a {
  color: #3366FF;
}

.neighborhood-guides{
    background-color: #efefef;
    border-bottom: 2px solid #dbdbdb;
}

.neighborhood-guides h2{
    color: #393c3d;
    font-size: 18px;

}

.neighborhood-guides p{
     font-size: 13px;
    margin-bottom: 13px;    
}
