
body{
   background-color: #E5E4E2;
   background-image: url(https://download.unsplash.com/photo-1438216983993-cdcd7dea84ce);
   background-position: fixed;
   background-size: cover;
   color: #F0FFF0;
   font-family: 'Dancing Script', cursive;
  }
  
h1 {
 color: #FFFF99;
 font-size: 10em;
 font-family: 'Open Sans Condensed', sans-serif;
 text-align: center;
}
h2 {
 color: #F0FFF0;
 font-size: 2em;
 font-family: 'Quicksand', sans-serif;
 text-align: justify;
}
h3 {
 color: #000066;
 font-size: 1.5em;
 font-family: 'Quicksand', sans-serif;
 text-align: justify;
}
