
body{
   background-color: #E5E4E2;
   background-image: url(https://download.unsplash.com/photo-1438216983993-cdcd7dea84ce);
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   color: #33334C;
   font-family: 'Open Sans Condensed', sans-serif;
   text-align: center;
  }
  
h1 {
 color: #4C3380;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 10em;
 text-align: center;
}
h2 {
 color: #4C3380;
 font-family: 'Quicksand', sans-serif;
 font-size: 3em;
 text-align: justify;
}
h3 {
 color: #E6E6E6;
 font-family: 'Quicksand', sans-serif;
 font-size: 2em;
 text-align: center;
}
nav a {
   text-align: center;
   font-family: 'Quicksand', sans-serif;
   color: #4E387E;
   font-size: 1.5em;
   text-decoration: none;
   font-weight: 900;
}
nav a:visited {
color: #FF9999;
}
nav a:hover {
color: #FFFF66;
}
img {
   width: 600px;
}

#intro {
   font-size:24px;

}

body {

margin: 0;

}

section a{

color: #FFF;

border: 1px solid #fff;

padding: 20px;

text-decoration: none;

}

section {

position: relative;

}

section a {

width: 300px;

height: 25px;

padding: 20px;

position: absolute;

top: 50%;

left: 50%;

margin: -32px 0 0 -170px;

}

div {

height: 350px;

}

Video {

Width: 100%:

}

