
body{
   background-color: #E5E4E2;
   background-image: url(https://download.unsplash.com/photo-1438216983993-cdcd7dea84ce);
   background-position: fixed;
   background-size: cover;
   color: #F0FFF0;
   font-family: 'Dancing Script', cursive;
  }
  
h1 {
 color: #FFFF99;
 font-family: 'Open Sans Condensed', sans-serif;
 font-size: 10em;
 text-align: center;
}
h2 {
 color: #F0FFF0;
 font-family: 'Quicksand', sans-serif;
 font-size: 2em;
 text-align: justify;
}
h3 {
 color: #000066;
 font-family: 'Quicksand', sans-serif;
 font-size: 1.5em;
 text-align: justify;
}
a:link {
color: #FFCCCC;
}
a:visited {
color: #FF9999;
}
a:hover {
color: #FFFF66;
}
